<h3>Sign Up Here</h3>
<%= form_for :user, url: '/sign_up'  do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name : <%= f.text_field :last_name %>
  User Name : <%= f.text_field :user_name %>
  Password  : <%= f.password_field :password %>
  Password Confirmation : <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up" %>

<% end %>
