<div class="box">
  <%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <%= form.text_field :title, id: :project_title, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= form.text_area :description, id: :project_description, class: "textarea", rows: 4 %>
    </div>
  </div>

  <%= hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit class: "button is-primary"%>
  </div>
  <% end %>
</div>
